<div class="user-select-container">
  <select id="user-select">

    <option value="" disabled selected>Select a user</option>

    {{#each usersData}}
      <option value="{{@key}}">{{name}}</option>
    {{/each}}

  </select>
</div>
